@use '../../styles/variables.scss' as var;
@use '../../styles/fonts.scss';

$BORDER: var.$border-secondary;
$RADIUS: 1em;
$INDENT: .5em;
$COLOR: var.$orange;
$COLOR_ACTIVE: var.$white;
$COLOR_BG_ACTIVE: var.$orange;
$SHADOW_HOVER: var.$shadow-hover-secondaey;
$TRANSITION_TIME: var.$transition-time;
$TRANSITION_FUNCTION: var.$trandition-function;

.buttonWithImage {
  border: $BORDER;
  border-radius: $RADIUS;
  padding: $INDENT;
  color: $COLOR;
  width: 8em;
  aspect-ratio: 3/1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  transition:
    box-shadow $TRANSITION_TIME $TRANSITION_FUNCTION,
    background-color $TRANSITION_TIME $TRANSITION_FUNCTION;

  &:hover {
    box-shadow: $SHADOW_HOVER;
  }

}

.image {
  max-width: 4em;
  height: 1.7em;

}

.description {
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: 0;
  font-weight: 700;

}

.active {
  background-color: $COLOR_BG_ACTIVE;
  color: $COLOR_ACTIVE;
}