$black: #111111;
$darck-gray: #323232;
$gray: #B5B8B1;
$light-gray:#F5F1F0;
$white: #ffffff;
$orange: #F25B22;

$transition-time: .5s;
$trandition-function: ease-in-out;
$shadow-hover: 0 0 8px 1px $orange;
$border-primary: .2em solid $white;
$border-secondary: .2em solid $orange;